nav {
    display: flex;
    position: fixed;
    height: 10px;
    z-index: 9999;
    background-color: #ffffff;


}



nav .logo {
    margin: -46px 50px -60px 70px;


}

.Home-ul {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 40px;
    list-style: none;
    text-decoration: none;


}

a {
    text-decoration: none;
}

.Home-ul ul li {
    text-decoration: none;
    list-style: none;

}

nav .navLinks {
    flex: 2;
}

nav .navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav .navLinks .Home-ul {

    text-decoration: none;
    color: #555;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.5px;
    cursor: pointer;

}

.Home-ul :hover {
    color: red;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}




nav .menuBtn {
    padding: 8px 20px;
    color: black;
    background: transparent;
    border: 1px solid #333;
    border-radius: 20px;
    font-size: 16px;
}

nav .menuBtn:hover {
    color: #fff;
    background: #222;
    transition: 0.3s;
    cursor: pointer;
}





@media (max-width: 1520px) {
    nav {
        min-width: 100%;
        padding: 25px 20px 40px 20px;
    }
}

@media (max-width: 1100px) {
    nav {
        z-index: 20;
        position: unset;
        background: #ffffff63;
        padding: 10px 30px;
    }

    nav::after {
        content: "";
        display: none;
    }

    nav .hamburger {
        display: flex;
    }

    nav .navLinks {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: -100%;
        background: #fff;
        width: 100%;
        left: 0;
        padding: 15px 7.5px;
        z-index: -1;
        transition: 0.3s;
    }

    nav .showmenu {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 67px;
        background: #fff;
        width: 100%;
        left: 0;
        padding: 15px 7.5px;
        transition: 0.3s;
        margin: 0 15px;
        width: 96.7vw;
        margin-right: 30px;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
    }

    nav .showmenu .links {
        flex-direction: column;
        text-align: center;
    }

    nav .menuBtn {
        margin-top: 20px;
    }
}

@media (max-width: 800px) {
    nav .showmenu {
        width: 96vw;
    }
}

@media (max-width: 650px) {
    nav .showmenu {
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
}